/*------------ Color -------------*/
/*------------ KeyFrame ---------*/
@keyframes onLoadNav {
  0% {
    top: -120px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 100%;
  }
}
@keyframes onLoadBefor {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes onLoadTranslate {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes afterNav {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: black;
  height: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:visited {
  color: none;
}

nav {
  position: absolute;
  top: -120px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  transition: 0.5s ease-in-out;
  z-index: 3;
  animation: onLoadNav 1s ease forwards 1.5s;
}
nav .logo {
  width: 130px;
  height: 70px;
  background: url("/assets/icon/logo.webp") center/cover;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
}
nav ul li {
  position: relative;
  font-size: 1.2rem;
  color: #d4b3a5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
nav ul li a {
  color: black;
}
nav ul li a:hover {
  scale: 1.1;
}
nav ul li a:hover:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 3px;
  background-color: #302a27;
  animation: afterNav 0.5s ease forwards;
}

.navScroll {
  background: rgba(255, 255, 255, 0.432);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: #d4b3a5;
  transition: 0.5s;
  background: rgb(255, 255, 255);
  background: linear-gradient(171deg, rgb(255, 255, 255) 0%, rgb(87, 22, 55) 37%, rgb(0, 0, 0) 70%);
}
header::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: white;
  animation: onLoadBefor 1s ease-in-out forwards;
}
header .headerHero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header .headerHero .center,
header .headerHero .down,
header .headerHero .logoLink {
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
}
header .up {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.3rem;
}
header .mid {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
header .down {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
header .logoLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logoLink img {
  transition: all 0.4s ease;
}
header .logoLink img:hover {
  scale: 1.1;
  transition: all 0.4s ease;
}
header .aboutImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  transform: translateX(200px);
  animation: onLoadTranslate 0.8s ease forwards 1.3s;
  transition: 1.2s ease-in-out;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto 300px auto;
  background: black;
  color: white;
  width: 100%;
  transition: 0.8s ease-in-out;
}
#skills h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px auto;
  padding-bottom: 40px;
  font-size: 2rem;
  color: #d4b3a5;
}
#skills .skillsContain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  text-align: center;
}
#skills .skillsLeft,
#skills .skillsMid,
#skills .skillsRight {
  width: 30%;
  min-width: 400px;
  height: 450px;
  min-height: 380px;
  margin: 30px 15px;
  border: 1px solid #5c1d3d;
  box-shadow: 5px 5px 20px #5c1d3d;
  border-radius: 15px;
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.7s ease-out;
}
#skills .skillsLeft h3,
#skills .skillsMid h3,
#skills .skillsRight h3 {
  margin: 20px auto 50px auto;
  color: #d4b3a5;
  font-size: 1.5rem;
}
#skills .skillsLeft .skillsPara,
#skills .skillsMid .skillsPara,
#skills .skillsRight .skillsPara {
  padding: 30px;
  font-size: 1.1rem;
  line-height: 30px;
  text-align: start;
}
#skills .iconLeft,
#skills .iconRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
}
#skills .iconLeft .iconFlex i,
#skills .iconRight .iconFlex i {
  font-size: 4rem;
  margin: 20px 0;
  transition: 0.25s ease;
  cursor: pointer;
}
#skills .iconLeft .iconFlex i:hover,
#skills .iconRight .iconFlex i:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}

#folio {
  width: 100%;
  margin: 80px auto;
  padding-bottom: 80px;
  background: black;
  opacity: 0;
  transform: translateY(150px);
  transition: 1.5s ease;
}
#folio .folioContain {
  width: 100%;
  height: 100%;
}
#folio .folioContain h2 {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 80px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #d4b3a5;
}
#folio .folioContain .folioList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 40px;
  margin: 0 auto;
}
#folio .folioContain .folioList .listCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 400px;
  background: transparent;
}
#folio .folioContain .folioList .listCard .effect {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: rgba(92, 29, 61, 0.8980392157);
  margin: 0 auto;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
#folio .folioContain .folioList .listCard .effect h3 {
  padding: 15px;
  color: #d4b3a5;
  text-align: center;
  opacity: 0;
}
#folio .folioContain .folioList .listCard .effect p {
  text-align: center;
  padding: 15px;
  color: #d4b3a5;
  opacity: 0;
}
#folio .folioContain .folioList .listCard .effect button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 60px auto 0;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(247, 247, 247, 0.103);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#folio .folioContain .folioList .listCard .effect button a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
#folio .folioContain .folioList .listCard:hover > .effect {
  transition: 0.6s ease-in-out;
  opacity: 1;
}
#folio .folioContain .folioList .listCard:hover > .effect h3 {
  opacity: 1;
}
#folio .folioContain .folioList .listCard:hover > .effect p {
  opacity: 1;
}
#folio .folioContain .folioList .card1 {
  background: url("../../assets/img/card1.webp") center/cover;
}
#folio .folioContain .folioList .card2 {
  background: url("../../assets/img/card2.webp") center/cover;
}
#folio .folioContain .folioList .card3 {
  background: url("../../assets/img/card3.webp") center/cover;
}
#folio .folioContain .folioList .card4 {
  background: url("../../assets/img/card4.webp") center/cover;
}

#footer {
  position: relative;
  background: black;
  background: rgb(255, 255, 255);
  background: linear-gradient(357deg, rgb(255, 255, 255) 0%, rgb(87, 22, 55) 27%, rgb(0, 0, 0) 75%);
}
#footer .footerList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .footerList ul {
  width: 50%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .footerList ul h3 {
  font-size: 2rem;
  color: #d4b3a5;
}
#footer .footerList ul li {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#footer .footerList ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
}
#footer .footerList ul i {
  margin-right: 15px;
  text-align: center;
  font-size: 1.5rem;
}
#footer h3 {
  color: #d4b3a5;
}/*# sourceMappingURL=style.css.map */