#folio {
  width: 100%;
  margin: 80px auto;
  padding-bottom: 80px;
  background: black;
  opacity: 0;
  transform: translateY(150px);
  transition: 1.5s ease;
  & .folioContain {
    width: 100%;
    height: 100%;
    & h2 {
      text-align: center;
      padding: 50px 0;
      margin-bottom: 80px;
      font-size: 2rem;
      text-transform: uppercase;
      color: $color3;
    }
    & .folioList {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      grid-gap: 40px;
      margin: 0 auto;
      & .listCard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 400px;
        background: transparent;
        & .effect {
          width: 80%;
          height: 80%;
          border-radius: 10px;
          background-color: #5c1d3de5;
          margin: 0 auto;
          opacity: 0;
          cursor: pointer;
          transition: 0.6s ease-in-out;
          & h3 {
            padding: 15px;
            color: $color3;
            text-align: center;
            opacity: 0;
          }
          & p {
            text-align: center;
            padding: 15px;
            color: $color3;
            opacity: 0;
          }
          & button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 50px;
            margin: 60px auto 0;
            border: 1px solid white;
            border-radius: 5px;
            background: rgba(247, 247, 247, 0.103);
            backdrop-filter: blur(5px);
            & a {
              text-decoration: none;
              color: white;
              font-size: 1.1rem;
            }
          }
        }
        &:hover > .effect {
          transition: 0.6s ease-in-out;
          opacity: 1;
          & h3 {
            opacity: 1;
          }
          & p {
            opacity: 1;
          }
        }
      }
      & .card1 {
        background: url("../../assets/img/card1.webp") center / cover;
      }
      & .card2 {
        background: url("../../assets/img/card2.webp") center / cover;
      }
      & .card3 {
        background: url("../../assets/img/card3.webp") center / cover;
      }
      & .card4 {
        background: url("../../assets/img/card4.webp") center / cover;
      }
    }
  }
}
