#footer {
  position: relative;
  background: black;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    357deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(87, 22, 55, 1) 27%,
    rgba(0, 0, 0, 1) 75%
  );
  & .footerList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & ul {
      width: 50%;
      height: 250px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      & h3 {
        font-size: 2rem;
        color: $color3;
      }
      & li {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        & a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          color: white;
        }
      }
      & i {
        margin-right: 15px;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
  & h3 {
    color: $color3;
  }
}
