header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: $color3;
  transition: 0.5s;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    171deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(87, 22, 55, 1) 37%,
    rgba(0, 0, 0, 1) 70%
  );
  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background: white;
    animation: onLoadBefor 1s ease-in-out forwards;
  }
  & .headerHero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    & .center,
    .down,
    .logoLink {
      opacity: 0;
      animation: fadeIn 1s ease forwards 1s;
    }
  }
  & .up {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.3rem;
  }
  & .mid {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  & .down {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  & .logoLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & img {
      transition: all 0.4s ease;
    }
    & img:hover {
      scale: 1.1;
      transition: all 0.4s ease;
    }
  }

  & .aboutImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform: translateX(200px);
    animation: onLoadTranslate 0.8s ease forwards 1.3s;
    transition: 1.2s ease-in-out;
  }
}
