nav {
  position: absolute;
  top: -120px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  transition: 0.5s ease-in-out;
  z-index: 3;
  animation: onLoadNav 1s ease forwards 1.5s;
  & .logo {
    width: 100px;
    height: 60px;
    background: url("/assets/icon/logo.webp") center / cover;
  }
  & ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
    & li {
      position: relative;
      font-size: 1.2rem;
      color: $color3;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      & a {
        color: black;
        &:hover {
          scale: 1.1;
          &:after {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            height: 3px;
            background-color: #302a27;
            animation: afterNav 0.5s ease forwards;
          }
        }
      }
    }
  }
}

.navScroll {
  background: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(15px);
}
